$desktop-margin: 30px;
$side-margin: 7em;
$top-margin: 6.5em;
$header-font: "Roboto Condensed", sans-serif;
$mobile-side-margin: 2em;
$mobile-top-margin: 3em;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

.hero-banner {
	background-image: url("../img/hero_banner.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 470px;

	.brand-logo {
		width: 130px;
		margin-left: $side-margin;
		margin-top: $desktop-margin;
		position: relative;
	}

	.content-container {
		margin-left: $side-margin;
		margin-right: $side-margin;
		margin-top: $top-margin;
		color: white;
		position: relative;
		h1 {
			font-style: normal;
			font-weight: bold;
			font-size: 38px;
			line-height: 44px;
			letter-spacing: 0.02em;
			font-family: $header-font;
		}

		p {
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 26px;
			letter-spacing: 0.04em;
			width: 620px;
		}
	}

	@media only screen and (max-width: 767px) {
		height: auto;
		.brand-logo {
			margin: $mobile-top-margin $mobile-side-margin;
		}

		.content-container {
			margin: 0 $mobile-side-margin;
			padding-bottom: $mobile-top-margin;

			p {
				width: auto;
			}
		}
	}

	@media only screen and (min-width: 768px) and (max-width: 992px) {
		.content-container {
			p {
				width: auto;
			}
		}
	}
}

.hero-banner::before {
	content: "";
	background: rgba(252, 112, 41, 0.3);
	height: inherit;
	width: 100%;
	position: absolute;
}

.cards-container {
	margin-top: $mobile-top-margin;
	margin-left: $side-margin;
	margin-right: $side-margin;
	margin-bottom: $mobile-top-margin;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	.equal-cards {
		height: 400px;
		width: 31%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		min-width: 31%;
		cursor: pointer;
	}

	@media only screen and (max-width: 768px) {
		margin-left: $mobile-side-margin;
		margin-right: $mobile-side-margin;
		.equal-cards {
			flex: 1;
			min-width: 300px;
		}
	}

	@media only screen and (min-width: 320px) and (max-width: 359px) {
		margin-left: 0;
		margin-right: 0;
	}
}

.container {
	background: rgba(255, 106, 0, 0.03);
	color: #111240;
	.form-container {
		margin-left: $side-margin;
		margin-right: $side-margin;

		.form-header {
			padding-top: $mobile-side-margin;
			padding-bottom: 1em;
			font-family: $header-font;
			font-style: normal;
			font-weight: bold;
			font-size: 30px;
			line-height: 44px;
			letter-spacing: 0.02em;

			color: #ff6a00;
		}

		.form-input {
			width: 800px;
			padding-bottom: 1.5em;
			label {
				display: block;
				margin-bottom: 0.5em;
			}
			input {
				background: rgba(2, 69, 111, 0.08);
				border: none;
				width: 100%;
				height: 45px;
				font-size: 20px;
			}

			textarea {
				background: rgba(2, 69, 111, 0.08);
				border: none;
				font-size: 20px;
			}

			.shipping_note {
				padding-bottom: 1em;
				font-style: normal;
				font-weight: 300;
				font-size: 12px;
				line-height: 18px;

				letter-spacing: 0.05em;

				color: #111240;
			}
			@media only screen and (max-width: 768px) {
				width: auto;
			}

			@media only screen and (min-width: 769px) and (max-width: 1024px) {
				width: auto;
			}
		}

		@media only screen and (max-width: 767px) {
			margin-left: $mobile-side-margin;
			margin-right: $mobile-side-margin;

			.form-header {
				padding-top: 1em;
			}
		}
	}

	.form-inline {
		display: inline-flex;
		width: 800px;
		padding-bottom: 1.5em;
		.inline-label {
			padding-right: 3em;
		}

		.pick-up-container {
			flex: 1;
		}

		.delivery-container {
			flex: 1;
		}

		@media only screen and (max-width: 768px) {
			display: block;
			width: auto;
			.pick-up-container {
				padding-bottom: 1em;
			}
		}

		@media only screen and (min-width: 769px) and (max-width: 1024px) {
			display: block;
			width: auto;
			.pick-up-container {
				padding-bottom: 1em;
			}
		}
	}

	.radio {
		display: inline-flex !important;
		align-items: center;
		cursor: pointer;
		margin-right: 2em;

		.radio__input {
			display: none;
			&:checked + .radio__radio::after {
				transform: scale(1);
			}
		}

		.radio__radio {
			width: 1.25em;
			height: 1.25em;
			background: rgba(2, 69, 111, 0.12);
			border-radius: 50%;
			margin-right: 10px;
			box-sizing: border-box;
			padding: 5px;
			&::after {
				content: "";
				width: 100%;
				height: 100%;
				display: block;
				background: #ff6a00;
				border-radius: 50%;
				transform: scale(0);
				transition: transform 0.15s;
				margin-top: -0.1px;
				margin-left: -0.1px;
			}
		}
	}

	.payment_radio {
		padding-right: 3em;
	}

	.form-button {
		button {
			font-family: Roboto Condensed;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 14px;
			text-align: center;
			letter-spacing: 0.05em;
			color: #ffffff;
			width: 237.05px;
			height: 56px;
			background: #ff6a00;
			border-radius: 28px;
			border: none;
			cursor: pointer;
		}
		padding-bottom: $mobile-top-margin;
	}
}

.faq-container {
	background: #ffa600;
	padding: 0 $side-margin;
	color: #fff;

	.faq-header {
		padding-top: $mobile-side-margin;
		padding-bottom: 1em;
	}

	.faq-inner-container {
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 2.5em;
		.faq-info {
			flex: 1;
			h2 {
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 18px;
				letter-spacing: 0.05em;
				padding-bottom: 0.5em;
			}

			p {
				font-style: normal;
				font-weight: normal;
				font-size: 12px;
				line-height: 18px;
				text-align: justify;
				letter-spacing: 0.05em;
				max-width: 367px;
			}
		}

		@media only screen and (min-width: 768px) and (max-width: 992px) {
			.faq-info {
				h2 {
					font-size: 15px;
					max-width: 270px;
				}
				p {
					max-width: 270px;
				}
			}
		}

		@media only screen and (min-width: 1024px) and (max-width: 1350px) {
			.faq-info {
				h2 {
					max-width: 375px;
				}
				p {
					max-width: 350px;
				}
			}
		}
	}

	@media only screen and (max-width: 767px) {
		padding-left: $mobile-side-margin;
		padding-right: $mobile-side-margin;
		padding-bottom: 1em;

		.faq-header {
			padding-top: 1em;
		}

		.faq-inner-container {
			flex-direction: column;
			padding-bottom: 0;

			.faq-info {
				padding-bottom: 1.2em;
			}
		}
	}
}

footer {
	display: flex;
	flex-direction: row;
	padding: 0 $side-margin;
	background: #111240;
	color: #fff;
	padding-bottom: 3em;
	.footer-container {
		margin-top: 4em;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		flex: 1;
		img {
			width: 130px;

			position: relative;
		}
		a {
			text-decoration: none;
			color: #fff;
		}
		.site-link {
			margin-top: $top-margin;
		}

		p {
			margin-top: 1em;
			width: 233px;
		}

		.mobile_number {
			width: 180px;
		}

		ul {
			list-style-type: none;
			display: inline-flex;
			li {
				padding-right: 0.5em;
				padding-top: 0.5em;
			}
		}
	}

	@media only screen and (max-width: 767px) {
		flex-direction: column;
		padding-left: $mobile-side-margin;
		padding-right: $mobile-side-margin;
		padding-bottom: 2em;
		.footer-container {
			justify-content: center;
			align-items: center;
			text-align: center;
			margin-top: 2em;
			.site-link {
				margin-top: 0;
			}
		}
	}
}
