* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

.hero-banner {
	background-image: url("../img/hero-header.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 470px;
}
@media only screen and (max-width: 767px) {
	.hero-banner {
		background-size: cover;
	}
}
.hero-banner .brand-logo {
	width: 130px;
	margin-left: 7em;
	margin-top: 30px;
	position: relative;
}
.hero-banner .content-container {
	margin-left: 7em;
	margin-right: 7em;
	margin-top: 6.5em;
	color: white;
	position: relative;
}
.hero-banner .content-container h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	line-height: 44px;
	letter-spacing: 0.02em;
	font-family: "Roboto Condensed", sans-serif;
}
.hero-banner .content-container p {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;
	letter-spacing: 0.04em;
	width: 620px;
}
@media only screen and (max-width: 767px) {
	.hero-banner .brand-logo {
		margin: 3em 2em;
	}
	.hero-banner .content-container {
		margin: 0 2em;
		padding-bottom: 3em;
	}
	.hero-banner .content-container p {
		width: auto;
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	.hero-banner .content-container p {
		width: auto;
	}
}

.hero-banner::before {
	content: "";
	background: rgba(252, 112, 41, 0.3);
	height: inherit;
	width: 100%;
	position: absolute;
}

.cards-container {
	margin-top: 3em;
	margin-left: 7em;
	margin-right: 7em;
	margin-bottom: 3em;
	display: flex;
	/* justify-content: space-between; */
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.cards-container .equal-cards {
	/* height: 400px; */
	height: 500px;
	/* width: 31%; */
	width: 450px;
	background-repeat: no-repeat;
	background-position: center;
	/* background-size: cover; */
	background-size: 100% 100%;
	min-width: 31%;
	cursor: pointer;
}

@media only screen and (max-width: 768px) {
	.cards-container {
		margin-left: 2em;
		margin-right: 2em;
	}
	.cards-container .equal-cards {
		flex: 1;
		min-width: 300px;
		height: 350px;
	}
}

@media only screen and (min-width: 320px) and (max-width: 359px) {
	.cards-container {
		margin-left: 0;
		margin-right: 0;
	}
}

.container {
	background: rgba(255, 106, 0, 0.03);
	color: #111240;
}
.container .form-container {
	margin-left: 7em;
	margin-right: 7em;
}
.container .form-container .form-header {
	padding-top: 2em;
	padding-bottom: 1em;
	font-family: "Roboto Condensed", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 44px;
	letter-spacing: 0.02em;
	color: #ff6a00;
}
.container .form-container .form-input {
	width: 800px;
	padding-bottom: 1.5em;
}
.container .form-container .form-input label {
	display: block;
	margin-bottom: 0.5em;
}
.container .form-container .form-input input {
	background: rgba(2, 69, 111, 0.08);
	border: none;
	width: 100%;
	height: 45px;
	font-size: 20px;
}
.container .form-container .form-input textarea {
	background: rgba(2, 69, 111, 0.08);
	border: none;
	font-size: 20px;
}
.container .form-container .form-input .shipping_note {
	padding-bottom: 1em;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0.05em;
	color: #111240;
}
@media only screen and (max-width: 768px) {
	.container .form-container .form-input {
		width: auto;
	}
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.container .form-container .form-input {
		width: auto;
	}
}
@media only screen and (max-width: 767px) {
	.container .form-container {
		margin-left: 2em;
		margin-right: 2em;
	}
	.container .form-container .form-header {
		padding-top: 1em;
	}
}
.container .form-inline {
	display: inline-flex;
	width: 800px;
	padding-bottom: 1.5em;
}
.container .form-inline .inline-label {
	padding-right: 3em;
}
.container .form-inline .pick-up-container {
	flex: 1;
}
.container .form-inline .delivery-container {
	flex: 1;
}
@media only screen and (max-width: 768px) {
	.container .form-inline {
		display: block;
		width: auto;
	}
	.container .form-inline .pick-up-container {
		padding-bottom: 1em;
	}
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.container .form-inline {
		display: block;
		width: auto;
	}
	.container .form-inline .pick-up-container {
		padding-bottom: 1em;
	}
}
.container .radio {
	display: inline-flex !important;
	align-items: center;
	cursor: pointer;
	margin-right: 2em;
}
.container .radio .radio__input {
	display: none;
}
.container .radio .radio__input:checked + .radio__radio::after {
	transform: scale(1);
}
.container .radio .radio__radio {
	width: 1.25em;
	height: 1.25em;
	background: rgba(2, 69, 111, 0.12);
	border-radius: 50%;
	margin-right: 10px;
	box-sizing: border-box;
	padding: 5px;
}
.container .radio .radio__radio::after {
	content: "";
	width: 100%;
	height: 100%;
	display: block;
	background: #ff6a00;
	border-radius: 50%;
	transform: scale(0);
	transition: transform 0.15s;
	margin-top: -0.1px;
	margin-left: -0.1px;
}
.container .payment_radio {
	padding-right: 3em;
}
.container .form-button {
	padding-bottom: 0.9em;
}
.container .form-button button {
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 14px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #ffffff;
	width: 237.05px;
	height: 56px;
	background: #ff6a00;
	border-radius: 28px;
	border: none;
	cursor: pointer;
}

.faq-container {
	background: #ffa600;
	padding: 0 7em;
	color: #fff;
}
.faq-container .faq-header {
	padding-top: 2em;
	padding-bottom: 1em;
}
.faq-container .faq-inner-container {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 2.5em;
}
.faq-container .faq-inner-container .faq-info {
	flex: 1;
}
.faq-container .faq-inner-container .faq-info h2 {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.05em;
	padding-bottom: 0.5em;
}
.faq-container .faq-inner-container .faq-info p {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	text-align: justify;
	letter-spacing: 0.05em;
	max-width: 367px;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	.faq-container .faq-inner-container .faq-info h2 {
		font-size: 15px;
		max-width: 270px;
	}
	.faq-container .faq-inner-container .faq-info p {
		max-width: 270px;
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1350px) {
	.faq-container .faq-inner-container .faq-info h2 {
		max-width: 375px;
	}
	.faq-container .faq-inner-container .faq-info p {
		max-width: 350px;
	}
}
@media only screen and (max-width: 767px) {
	.faq-container {
		padding-left: 2em;
		padding-right: 2em;
		padding-bottom: 1em;
	}
	.faq-container .faq-header {
		padding-top: 1em;
	}
	.faq-container .faq-inner-container {
		flex-direction: column;
		padding-bottom: 0;
	}
	.faq-container .faq-inner-container .faq-info {
		padding-bottom: 1.2em;
	}
}

footer {
	display: flex;
	flex-direction: row;
	padding: 0 7em;
	background: #111240;
	color: #fff;
	padding-bottom: 3em;
}
footer .footer-container {
	margin-top: 4em;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	flex: 1;
}
footer .footer-container img {
	width: 130px;
	position: relative;
}
footer .footer-container a {
	text-decoration: none;
	color: #fff;
}
footer .footer-container .site-link {
	margin-top: 6.5em;
}
footer .footer-container p {
	margin-top: 1em;
	width: 233px;
}
footer .footer-container .mobile_number {
	width: 180px;
}
footer .footer-container ul {
	list-style-type: none;
	display: inline-flex;
}
footer .footer-container ul li {
	padding-right: 0.5em;
	padding-top: 0.5em;
}
@media only screen and (max-width: 767px) {
	footer {
		flex-direction: column;
		padding-left: 2em;
		padding-right: 2em;
		padding-bottom: 2em;
	}
	footer .footer-container {
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-top: 2em;
	}
	footer .footer-container .site-link {
		margin-top: 0;
	}
}

.cards-container .images-container {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

@media only screen and (min-width: 320px) {
	.cards-container .images-container img:nth-child(1) {
		width: 100%;
		height: 350px;
		display: none;
	}

	.cards-container .images-container img:nth-child(2) {
		width: 100%;
		height: 450px;
	}
}

@media only screen and (min-width: 768px) {
	.cards-container .images-container img:nth-child(1) {
		width: 100%;
		height: 100%;
		display: block;
	}

	.cards-container .images-container img:nth-child(2) {
		width: 40%;
		height: 100%;
		display: none;
	}
}

input[type="checkbox"] + label {
	display: block;
	margin: 0.2em;
	cursor: pointer;
	padding: 0.2em;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label:before {
	content: "\2714";
	border: 0.1em solid #000;
	border-radius: 0.2em;
	display: inline-block;
	width: 1em;
	height: 1em;
	padding-left: 0.2em;
	padding-bottom: 0.3em;
	margin-right: 1em;
	vertical-align: bottom;
	color: transparent;
	transition: 0.2s;
}

input[type="checkbox"] + label:active:before {
	transform: scale(0);
}

input[type="checkbox"]:checked + label:before {
	background-color: #ff6a00;
	border-color: #ff6a00;
	color: #fff;
}

input[type="checkbox"]:disabled + label:before {
	transform: scale(1);
	border-color: #aaa;
}

input[type="checkbox"]:checked:disabled + label:before {
	transform: scale(1);
	background-color: #bfb;
	border-color: #bfb;
}

.checkbox-container {
	display: inline-flex;
	margin: 0.5em 0;
	padding-right: 1.5em;
}

.checkbox-label {
	width: 240px;
}

.opt-in-label {
	width: 400px;
}

@media only screen and (max-width: 767px) {
	.checkbox-container {
		flex-wrap: wrap;
		width: 100%;
	}

	.checkbox-label {
		width: auto;
	}
}

#vegetarian-menu {
	display: none;
}

#non-vegetarian-menu {
	display: none;
}

#frozen-offerings-menu {
	display: none;
}
#thali-bilao-to-go-menu {
	display: none;
}
input[type="number"] {
	width: 90px;
}

input[type="number"]:disabled {
	background: #bfbfbf !important;
}

input[type="number"]::placeholder {
	font-size: 0.8em;
	padding-left: 0.6em;
}

.payment-information {
	display: none;
	padding: 0.5em;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	border: 2px solid #ff6a00;
	width: 250px;
	margin-bottom: 1.2em;
}
#gcash-information {
	display: none;
}

#gcash-information img {
	width: 100%;
	margin-bottom: 1.2em;
}

@media only screen and (min-width: 1025px) {
	#gcash-information img {
		width: 500px;
	}
}

small {
	color: #ff6a00;
	font-weight: bold;
}

.container .form-container .form-input input[type="number"] {
	width: 90px !important;
}

#show_total {
	padding-bottom: 0;
	border-bottom: 2px solid #808080;
	margin-bottom: 1.5em;
}

@media only screen and (max-width: 767px) {
	.container .form-container .form-input input[type="number"] {
		width: 100% !important;
	}
}

/* The Close Button */
.close {
	color: #aaaaaa;
	/* float: right; */
	text-align: right;
	font-size: 28px;
	font-weight: bold;
	display: block;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.confirmation-modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	border-radius: 25px;
	width: 650px;
	height: 270px;
	text-align: center;
}

@media only screen and (max-width: 767px) {
	.confirmation-modal-content {
		width: 100%;
	}
}

.confirmation-modal-items {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	/* align-content: center; */
	/* justify-content: center; */
	padding-top: 6%;
}

.confirmation-modal-items h2 {
	padding-bottom: 7%;
	color: #ff6a00;
}

.confirmation-modal-items p {
	width: 370px;
	text-align: center;
	font-size: 1.2em;
}

@media only screen and (max-width: 767px) {
	.confirmation-modal-items {
		padding-top: 10%;
	}
	.confirmation-modal-items p {
		width: 100%;
		font-size: 1em;
	}
}

/* The Modal (background) */
.first-modal {
	display: flex; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* First Modal Content */
.first-show-modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	border-radius: 25px;
	width: 650px;
	text-align: center;
}

.first-show-modal-content .modal-buttons {
	padding-bottom: 5%;
}
.first-show-modal-content .modal-buttons ul {
	list-style: none;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}

.first-show-modal-content .modal-buttons ul li {
	background-color: #ff6a00;
	margin: 1em;
	width: 160px;
	height: 150px;
	border-radius: 25px;
	display: flex;
	justify-content: center;
}

.first-show-modal-content .modal-buttons ul li a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #fff;
	font-size: 1.3em;
	cursor: pointer;
}

.first-show-modal-content .modal-buttons ul li a img {
	width: 40px;
	height: 40px;
	object-fit: contain;
	margin-bottom: 1em;
}

@media only screen and (max-width: 767px) {
	.first-show-modal-content {
		width: 100%;
	}
}

.first-show-modal-items {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	/* align-content: center; */
	/* justify-content: center; */
	padding-top: 6%;
	padding-bottom: 6%;
}

.first-show-modal-items h2 {
	padding-bottom: 7%;
	color: #ff6a00;
}

.first-show-modal-items p {
	width: 370px;
	text-align: center;
	font-size: 1.2em;
}

@media only screen and (max-width: 767px) {
	.first-show-modal-items {
		padding-top: 10%;
	}
	.first-show-modal-items p {
		width: 100%;
		font-size: 1em;
	}
}
